---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  clang-analyzer-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-slicing,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  -performance-avoid-endl,
  readability-misleading-indentation,
  readability-redundant-smartptr-get
WarningsAsErrors: ''
HeaderFilterRegex: 'include/automerge-cpp/.*|src/.*'
