[submodule "upstream/automerge"]
	path = upstream/automerge
	url = https://github.com/homer6/automerge.git
[submodule "upstream/json"]
	path = upstream/json
	url = https://github.com/nlohmann/json.git
