name: FreeBSD

on: [push, pull_request]

jobs:
  build:
    name: Clang
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build and test on FreeBSD
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install -y cmake git
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release -DAUTOMERGE_CPP_BUILD_TESTS=ON -DAUTOMERGE_CPP_BUILD_EXAMPLES=ON -DAUTOMERGE_CPP_BUILD_BENCHMARKS=ON
          cmake --build build --config Release
          ctest --test-dir build -C Release --output-on-failure
